<ion-header>
  <ion-toolbar color="primary">
    <ion-back-button slot="start" defaultHref="/home"></ion-back-button>
    <ion-title>Tarea #{{tarea.numero}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <img src="assets\map_pin.PNG" />
    <ion-card-header>
      <ion-item class="ion-margin-bottom">
        <ion-label>En progreso</ion-label>
        <ion-toggle slot="end"></ion-toggle>
      </ion-item>
      <ion-badge [color]="colorEstado(tarea.estado)">
        {{tarea.estado}}
      </ion-badge>

      <ion-card-subtitle
        style="display: flex; flex-wrap: wrap; align-items: flex-start"
      >
        <ion-badge color="secondary" class="ion-margin-end">
          <ion-icon name="calendar-clear-outline"></ion-icon>
          <ion-label>{{tarea.hora}} {{tarea.fecha}}</ion-label>
        </ion-badge>
        <ion-badge color="secondary" class="ion-margin-end ion-margin-bottom">
          <ion-icon name="pin"></ion-icon>
          <ion-label>{{tarea.cliente}}</ion-label>
        </ion-badge>
        <ion-badge
          color="secondary"
          [hidden]="!tarea.ruta"
          class="ion-margin-end"
        >
          <ion-icon name="navigate-outline"></ion-icon>
          <ion-label> {{tarea.ruta}}</ion-label>
        </ion-badge>
        <ion-badge color="secondary" class="ion-margin-end">
          <ion-icon name="bookmark-outline"></ion-icon>
          <ion-label> {{tarea.sistema}}</ion-label>
        </ion-badge>
        <div style="flex: 1 1 auto"></div>
      </ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      <p>{{tarea.descripcion}}</p>

      <ion-item fill="outline" class="ion-margin-top ion-margin-bottom">
        <ion-label position="floating">Observación</ion-label>
        <ion-textarea autoGrow="true" spellcheck="true"></ion-textarea>
      </ion-item>

      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-button size="small">Finalizar</ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>
</ion-content>
