<ion-header>
  <ion-toolbar color="primary">
    <ion-back-button slot="start" defaultHref="/login"></ion-back-button>
    <ion-title>Recuperar Contraseña</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list class="ion-padding">

    <p>Ingresa tu dirección de E-mail y te enviaremos un link para poder restablecer la contraseña de tu cuenta</p>
   
    <ion-item fill="outline" class="ion-margin-bottom">
      <ion-label position="floating">Email</ion-label>
      <ion-input type="email"></ion-input>
    </ion-item>



  </ion-list>

  <ion-button expand="block" [routerLink]="['/login']"
    >Enviar E-mail</ion-button
  >
</ion-content>
