<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/employees"></ion-back-button>
    </ion-buttons>
    <ion-title>Crear Empleado</ion-title>
    <ion-buttons slot="end">
      <ion-button *ngIf="codigo !=='0'" (click)="eliminar()">
        <ion-icon slot="icon-only" name="trash-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="empleadoForm" (ngSubmit)="guardarEmpleado()">
    <ion-list class="ion-padding">
      <ion-item fill="outline" class="ion-margin-bottom">
        <ion-label position="floating">Nombre</ion-label>
        <ion-input formControlName="nombre"></ion-input>
      </ion-item>

      <ion-item fill="outline" class="ion-margin-bottom">
        <ion-label position="floating">C.I</ion-label>
        <ion-input formControlName="ci"></ion-input>
      </ion-item>

      <ion-item fill="outline" class="ion-margin-bottom">
        <ion-label position="floating">Telefono</ion-label>
        <ion-input formControlName="telefono"></ion-input>
      </ion-item>

      <ion-item fill="outline" class="ion-margin-bottom">
        <ion-label position="floating">Direccion</ion-label>
        <ion-input formControlName="direccion"></ion-input>
      </ion-item>

      <ion-item fill="outline" class="ion-margin-bottom">
        <ion-label position="floating" >Usuario</ion-label>
        <ion-select formControlName="usuario">
          <ion-select-option  [value]='1'>Usuario 1</ion-select-option>
          <ion-select-option  [value]='2'>Usuario 2</ion-select-option>
          <ion-select-option  [value]='3'>Usuario 3</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-list>

    <ion-button expand="block" type="submit" [disabled]="!empleadoForm.valid">Guardar Empleado</ion-button>
  </form>
</ion-content>
