<ion-header [translucent]="true">
  <ion-toolbar [color]="'primary'">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Configuraciones</ion-title>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon slot="icon-only" name="save-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list class="ion-padding">
    <ion-item fill="outline" class="ion-margin-bottom">
      <ion-label position="floating">Nombre de la Empresa</ion-label>
      <ion-input value="Empresa Falsa"></ion-input>
    </ion-item>
  </ion-list>
</ion-content>
