<ion-header [translucent]="true">
  <ion-toolbar [color]="'primary'">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Tareas</ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-segment value="all">
      <ion-segment-button value="all">
        <ion-label>Todos</ion-label>
      </ion-segment-button>
      <ion-segment-button value="pedientes">
        <ion-label>Pendientes</ion-label>
      </ion-segment-button>
      <ion-segment-button value="cerrados">
        <ion-label>Cerrados</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true">
  <ion-list inset="true">
    <ion-list-header>Listado de Tareas </ion-list-header>

    <ion-item *ngFor="let tarea of tareas" lines="full">
      
      <ion-label style="display: grid; grid-template-columns:  auto 2fr 1fr auto; justify-content: space-between;">
        <h5 style="grid-column: 1 /-1;">{{tarea.descripcion}}</h5>
        <h2 style="grid-column: 1 /3;">#{{tarea.numero}}</h2>
        <p style="grid-column: 3 /5; text-align: end;"> {{tarea.hora}} {{tarea.fecha}}</p>
        <ion-icon name="paper-plane-outline" style="grid-column: 1 /2;"></ion-icon>
        <p style="grid-column: 2 /3;">{{tarea.cliente}}</p>
        <p style="grid-column: 3 /5; justify-self: end;">{{tarea.ruta}}</p>
        <p style="grid-column: 1 /3;">{{tarea.sistema}}</p>
        <ion-badge [color]="colorEstado(tarea.estado)" style=" grid-column: 4 /5;">{{tarea.estado}}</ion-badge>
        
      </ion-label>

    </ion-item>
  </ion-list>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
