<ion-header [translucent]="true">
  <ion-toolbar [color]="'primary'">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Tareas</ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-segment value="all">
      <ion-segment-button value="all">
        <ion-label>Todos</ion-label>
      </ion-segment-button>
      <ion-segment-button value="pedientes">
        <ion-label>Pendientes</ion-label>
      </ion-segment-button>
      <ion-segment-button value="cerrados">
        <ion-label>Cerrados</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true">
  <ion-list inset="true">
    <ion-list-header>Listado de Tareas </ion-list-header>

    <ion-item *ngFor="let tarea of tareas" lines="full">
      
      <ion-label style="display: flex; flex-wrap: wrap;">
        <h5 style="width: 100%;">{{tarea.descripcion}}</h5>
        <h2 style="width: 55%;">#{{tarea.numero}}</h2>
        <p style="width: 45%; text-align: end;"> {{tarea.hora}} {{tarea.fecha}}</p>
        <p style="width: 60%;">{{tarea.cliente}}</p>
        <p style="width: 40%; text-align: end;">{{tarea.ruta}}</p>
        <p style="width: 60%;">{{tarea.sistema}}</p>
        <p style="width: 40%; text-align: end;">{{tarea.estado}}</p>
      </ion-label>

    </ion-item>
  </ion-list>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
