<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button slot="start" defaultHref="/topics"></ion-back-button>
    </ion-buttons>
    <ion-title>Crear Sistema</ion-title>
    <ion-buttons slot="end">
      <ion-button *ngIf="codigo !=='0'" (click)="eliminar()">
        <ion-icon slot="icon-only" name="trash-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="sistemaForm" (ngSubmit)="guardarSistema()">
    <ion-list class="ion-padding">
      <ion-item fill="outline" class="ion-margin-bottom">
        <ion-label position="floating">Descripcion</ion-label>
        <ion-input formControlName="descripcion"></ion-input>
      </ion-item>
    </ion-list>

    <ion-button expand="block" type="submit" [disabled]="!sistemaForm.valid"
      >Guardar Sistema</ion-button>
  </form>
</ion-content>
