<ion-header>
  <ion-toolbar color="primary">
    <ion-back-button slot="start" defaultHref="/home"></ion-back-button>
    <ion-title>Crear Ruta</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list class="ion-padding" >
  
    <ion-item fill="outline" class="ion-margin-bottom">
      <ion-label position="floating" >Codigo</ion-label>
      <ion-input ></ion-input>
    </ion-item>
    <ion-item fill="outline" class="ion-margin-bottom">
      <ion-label position="floating" >Descripcion</ion-label>
      <ion-input ></ion-input>
    </ion-item>

  </ion-list>

  <ion-button expand="block" [routerLink]="['/home/routes']" >Guardar Ruta</ion-button>



</ion-content>
