<ion-header [translucent]="true">
  <ion-toolbar [color]="'primary'">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Tareas</ion-title>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon name="sync-outline" slot=""></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar>
    <ion-segment value="all">
      <ion-segment-button value="all">
        <ion-label>Todos</ion-label>
      </ion-segment-button>
      <ion-segment-button value="pedientes">
        <ion-label>Activos</ion-label>
      </ion-segment-button>
      <ion-segment-button value="cerrados">
        <ion-label>Finalizados</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
  <ion-item >
    <ion-label>Inactivo</ion-label>
    <ion-toggle slot="end"></ion-toggle>
  </ion-item>
</ion-header>

<ion-content fullscreen="true">
  <ion-list>
    <ion-list-header><h2>Listado de Tareas</h2></ion-list-header>

    <ion-card *ngFor="let tarea of tareas" [routerLink]="'/task/'+tarea?.tra_numero">

      <ion-card-header>
        <ion-card-title>
          <ion-item>
            <ion-label><h2>#{{tarea?.tra_numero}}</h2></ion-label>
            <ion-badge [color]="colorEstado(tarea?.tra_estado)">
              {{tarea?.tra_estado | estadoTarea}}
            </ion-badge>
          </ion-item>
        </ion-card-title>
        <ion-card-subtitle style="display: flex; flex-wrap: wrap; align-items: flex-start;">
          <ion-badge color="secondary" class="ion-margin-end ion-margin-bottom">
            <ion-icon name="calendar-clear-outline"></ion-icon>
            <ion-label>{{tarea?.tra_fecha | date:'dd-MM-yyyy HH:mm:ss'}} </ion-label>
          </ion-badge>
          <ion-badge color="secondary" class="ion-margin-end ion-margin-bottom">
            <ion-icon name="pin"></ion-icon>
            <ion-label>{{tarea?.Cliente.cli_nombre}}</ion-label>
          </ion-badge>
          <ion-badge
            color="secondary"
            [hidden]="!tarea?.Cliente.Ruta"
            class="ion-margin-end ion-margin-bottom"
          >
            <ion-icon name="navigate-outline"></ion-icon>
            <ion-label> {{tarea.Cliente.Ruta.rut_descripcion}}</ion-label>
          </ion-badge >
          <ion-badge color="secondary" class="ion-margin-end ion-margin-bottom">
            <ion-icon name="bookmark-outline"></ion-icon>
            <ion-label> {{tarea?.Sistema.sis_descripcion}}</ion-label>
          </ion-badge>
          <div style="flex: 1 1 auto"></div>
        </ion-card-subtitle>
      </ion-card-header>

      <ion-card-content>
        <p
          style="overflow: hidden; text-overflow: ellipsis; white-space: nowrap"
        >
          {{tarea?.tra_descripcion}}
        </p>
      </ion-card-content>
    </ion-card>
  </ion-list>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="tertiary" [routerLink]="'/create-task'">
      <ion-icon name="add" ></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
