<ion-content  color="tertiary">
  <form (ngSubmit)="login()" [formGroup]="credentials">
  <ion-grid >
    <ion-row class="ion-justify-content-center" >
      <ion-col size-sm="6" class="ion-align-self-center">
        <ion-card >
          <img src="assets/logo_transparent.png" class="logo" />
          <ion-card-header>
            <h1>Iniciar Sesion</h1>
          </ion-card-header>
          <ion-card-content>
          <ion-item fill="outline">
            <ion-label position="floating">Usuario</ion-label>
            <ion-input formControlName="username"></ion-input>
          </ion-item >
          <ion-item class="ion-margin-top" fill="outline">
            <ion-label position="floating">Contrase&ntilde;a</ion-label>
            <ion-input type="password" formControlName="password"></ion-input>
          </ion-item>
          <a color="secondary" [routerLink]="'/recover-password'">¿Olvidaste tu Contraseña?</a>

          <ion-button expand="block" type="submit"  [disabled]="!credentials.valid" class="ion-margin-top">Iniciar Sesion</ion-button>
          <ion-button expand="block" type="button" color="secondary" fill="outline" [routerLink]="['/register']">Registrarse</ion-button>
        </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</form>
</ion-content>
