<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/clients"></ion-back-button>
    </ion-buttons>
    <ion-title>Crear Cliente</ion-title>
    <ion-buttons slot="end">
      <ion-button *ngIf="codigo !=='0'" (click)="eliminar()">
        <ion-icon slot="icon-only" name="trash-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="clienteForm" (ngSubmit)="guardarCliente()">
    <ion-list class="ion-padding">
      <ion-item fill="outline" class="ion-margin-bottom">
        <ion-label position="floating">Nombre</ion-label>
        <ion-input formControlName="nombre"></ion-input>
      </ion-item>

      <ion-item fill="outline" class="ion-margin-bottom">
        <ion-label position="floating">R.U.C o C.I</ion-label>
        <ion-input formControlName="ci"></ion-input>
      </ion-item>

      <ion-item fill="outline" class="ion-margin-bottom">
        <ion-label position="floating">Telefono</ion-label>
        <ion-input formControlName="telefono"></ion-input>
      </ion-item>

      <ion-item fill="outline" class="ion-margin-bottom">
        <ion-label position="floating">E-mail</ion-label>
        <ion-input formControlName="email"></ion-input>
      </ion-item>

      <ion-item fill="outline" class="ion-margin-bottom">
        <ion-label position="floating">Direccion</ion-label>
        <ion-input formControlName="direccion"></ion-input>
      </ion-item>

      <ion-item fill="outline" class="ion-margin-bottom">
        <ion-label position="floating">Ruta</ion-label>
        <ion-input formControlName="ruta"></ion-input>
      </ion-item>
    </ion-list>

    <ion-button expand="block" type="submit" [disabled]="!clienteForm.valid"
      >Guardar Cliente</ion-button
    >
  </form>
</ion-content>
