<ion-header [translucent]="true">
  <ion-toolbar [color]="'primary'">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Tareas</ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-segment value="all">
      <ion-segment-button value="all">
        <ion-label>Todos</ion-label>
      </ion-segment-button>
      <ion-segment-button value="pedientes">
        <ion-label>Pendientes</ion-label>
      </ion-segment-button>
      <ion-segment-button value="cerrados">
        <ion-label>Cerrados</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true">
  <h3>Listado de Tareas</h3>

  <ion-list inset="true">
    <ion-list-header>Listado de Tareas </ion-list-header>

    <ion-card *ngFor="let tarea of tareas" lines="full">
      <ion-card-header>
        <ion-item>
          <ion-avatar slot="start">
            <img
              src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y"
            />
          </ion-avatar>
          <ion-label>
            
              <h2>#{{tarea.numero}}</h2>

              <ion-chip>
                <ion-icon name="person-outline" slot="end"></ion-icon>
              <ion-label><p>{{tarea.hora}} {{tarea.fecha}}</p></ion-label>
            </ion-chip>
              <ion-icon name="person-outline"></ion-icon>
              <p>{{tarea.cliente}}</p>
              <ion-icon
                name="paper-plane-outline"
                [hidden]="!tarea.ruta"
              ></ion-icon>
              <p>{{tarea.ruta}}</p>
              <ion-icon name="clipboard-outline"></ion-icon>
              <p>{{tarea.sistema}}</p>
              <p>{{tarea.estado}}</p>
            
          </ion-label>
        </ion-item>
      </ion-card-header>

      <ion-card-content>
        <p>{{tarea.descripcion}}</p>
      </ion-card-content>
    </ion-card>
  </ion-list>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
